# Pandas Review using a Pokemon Dataset

In [3]:
import pandas as pd

df = pd.read_csv('https://gist.githubusercontent.com/armgilles/\
194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

### Practice Exercises

#### 1. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics

In [4]:
df.shape

(800, 13)

In [5]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

#### 2. Change all the column names
      - lowercase letters
      - remove whitespace
      - remove periods

In [6]:
df = df.columns.str.lower()

In [172]:
df = df.str.strip()

Index(['#', 'name', 'type 1', 'type 2', 'total', 'hp', 'attack', 'defense',
       'sp. atk', 'sp. def', 'speed', 'generation', 'legendary'],
      dtype='object')

In [174]:
df = df.str.replace(",","")

In [8]:
df.describe

<bound method NDFrame.describe of        #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]>

#### 3. What is the highest HP value present?

In [12]:
df.HP.max()

255

#### 4. Which Pokemon possess(es) the highest HP value?
- note: the `name` column is the pokemon name

In [20]:
df.loc[df["HP"].idxmax()]

#                 242
Name          Blissey
Type 1         Normal
Type 2            NaN
Total             540
HP                255
Attack             10
Defense            10
Sp. Atk            75
Sp. Def           135
Speed              55
Generation          2
Legendary       False
Name: 261, dtype: object

#### 5. How many different types are represented in Type 1? What are they?

In [27]:
df["Type 1"].nunique()

18

In [26]:
df["Type 1"].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

#### 6. Number of Pokemon whose Type 2 is Ghost

In [67]:
len(df[df["Type 2"]== "Ghost"])

14

In [2]:
# type_ 2 =df["tye 2"].value_counts()
# type_2.loc["Ghost"]

#### 7. Percentage of Pokemon whose Type 2 is Ghost

In [78]:
round(len(df[df["Type 2"]== "Ghost"])/ len(df["Type 2"]) *100, 2)

1.75

#### 8. Number of Pokemon whose Attack is greater than Defense

In [79]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [82]:
len(df[df.Attack > df.Defense])

433

#### 9. What is the slowest speed for Grass type (either type 1 or type 2)

In [83]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [110]:
grass_type = df[df["Type 1"] == "Grass"]
grass_type.Speed.min()

10

#### 10. Find the average speed by Generation

In [124]:
df.groupby("Generation").mean().iloc[:,7]

Generation
1    72.584337
2    61.811321
3    66.925000
4    71.338843
5    68.078788
6    66.439024
Name: Speed, dtype: float64

#### 11. How many LEGENDARY Pokemon are DRAGON type?

In [166]:
dragon_type = df[(df["Type 2"] == "Dragon") | (df["Type 1"] == "Dragon")]

In [167]:
len(dragon_type[dragon_type.Legendary == True])

16